.header-location{
    display: flex;
    justify-content: space-between;
    margin-right: 45%;
}
.header-hours{
    display: flex;
    justify-content: space-between;
    margin-right: 35%;
}
.header-tel{
    display: flex;
    justify-content: space-between;
    margin-right: 67%;
}
footer{
    text-align: center;
}

.block{
    margin-top: 5%;
    
} 
span{
    font-weight:bolder;
    color:deepskyblue;
    font-size: 20px;
    font-family:"Poppins" ;
    
}

.global{
    display: flex;
    justify-content: space-between;
}
body{
    margin-left:5%;
    padding: 0%;
}
@media screen and (max-width:1000px) {
    body{
        font-size: 20px;
        
    }
    .global{
        display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	
    }
    .imglogo{
        width: 80px;
    }
    .location,.hours,.tel{
        width: auto;
        height: 30px;
    }
    
    span{
        font-size: 20px;
}
footer{
    font-size: 10px;
    text-align: left;
}


.header-hours{
    margin-right: 80%;
    
}
.header-location{
    margin-right: 80%;
   
}
.header-tel{
    margin-right: 90%;
    
}
}



